@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');



body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
background-color: lightpink;
color: rgba(255, 217, 0, 0.459);


}